<div class="card mb-3" style="">


<div class="row g-0 hotel-container" (click) = "viewHotel(hotel.HotelId)" >
    <div class="col-md-4 hotel-image-container">
        <img src={{hotel.DefaultPicture}} class="img rounded float-start " style=" width:100%;height:100%;object-fit: cover;"/>
        <!-- <div class="card-img-top hotel-image" [ngStyle]="getUrl()" ></div> -->
    </div>

    <div class="col-md-8 hotel-content-container">
        <div class="card-body">           
            <h3 class="card-title">{{hotel.HotelName}}</h3>
            <p class="card-text text-muted"><i class="fa fa-location-arrow"> </i> {{hotel.StreetAddress1 | titlecase}} , {{hotel.StreetAddress2 | titlecase}}</p>
            <blockquote class="blockquote mb-0">
                <p>{{hotel.Description | titlecase}} </p>
                <footer class="blockquote-footer">Pricing <cite title="Source Title">{{hotel.PricingDisplay}}</cite></footer>
              </blockquote>
            <!-- <button type="button" class="btn btn-outline-dark" (click) = "viewHotel(hotel.HotelId)">{{hotel.HotelId}}</button> -->
          
            <p class="card-text"><small class="text-muted">{{hotel.City}}</small></p>
            
           <p class='star-level'><i *ngFor='let in of counter() ;let i = index' class="fa fa-star"></i></p>

        </div>

        <div class="go-corner" href="#">
            <div class="go-arrow">
              →
            </div>
          </div>
       
    </div>
  
</div>
</div>

